{% extends 'main/home.html' %}
{% load static %}

{% block body %}

<section class="container min-vh-100 d-flex justify-content-center align-items-center">

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <h1 class="text-dark"><strong>Upload Car Images</strong></h1>
        <p class="text-muted">Car #{{ car.id }} — {{ car.make }} {{ car.model }}</p>

        <div class="col-md-6 ">
            <input type="file" name="images" multiple class="form-control" required>
        </div>
        

        <button type="submit" class="btn btn-info mt-3">Upload</button>
    </form>


   
</section>
{% endblock %}

{% block footer %}
{% endblock%}