{% extends 'main/home.html' %}
{% load static %}
{% load l10n %}

{% block body %}
    <!-- Header-->
    <header class="bg-primary py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Car Listings / Inventory</h1>
                <p class="lead fw-normal text-white mb-0">From compact city cars to spacious family vehicles, our inventory is updated regularly to bring you the best affordable options on the market. Find the car that works for you.</p>
            </div>
        </div>
    </header>
    
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                {% for car in cars %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="{{car.profile_img.url}}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{car.year|unlocalize}} {{car.make}} {{car.model}}</h5>
                                <!-- Product price-->
                                Mileage: {{car.mileage}} <br>
                                Price: ${{car.price}} <br>
                                
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'car_details' car.pk %}">Car Details </a></div>
                            
                        </div>
                    </div>
                    
                </div>

                {% endfor %}
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
{% endblock %}
